// cool hue gradient mixin
// coolest handpicked gradient hues for your next super amazing stuff
// forked from https://github.com/webkul/coolhue

@mixin grad--school-bus-yellow {
  background-image: linear-gradient(135deg, #fdeb71 10%, #f8d800 100%);
}
@mixin grad--azure-radiance {
  background-image: linear-gradient(135deg, #abdcff 10%, #0396ff 100%);
}
@mixin grad--mandy {
  background-image: linear-gradient(135deg, #feb692 10%, #ea5455 100%);
}
@mixin grad--cornflower-blue {
  background-image: linear-gradient(135deg, #ce9ffc 10%, #7367f0 100%);
}
@mixin grad--turquoise {
  background-image: linear-gradient(135deg, #90f7ec 10%, #32ccbc 100%);
}
@mixin grad--violet-red {
  background-image: linear-gradient(135deg, #fff6b7 10%, #f6416c 100%);
}
@mixin grad--jungle-green {
  background-image: linear-gradient(135deg, #81fbb8 10%, #28c76f 100%);
}
@mixin grad--amethyst {
  background-image: linear-gradient(135deg, #e2b0ff 10%, #9f44d3 100%);
}
@mixin grad--royal-purple {
  background-image: linear-gradient(135deg, #f97794 10%, #623aa2 100%);
}
@mixin grad--carnation {
  background-image: linear-gradient(135deg, #fccf31 10%, #f55555 100%);
}
@mixin grad--seance {
  background-image: linear-gradient(135deg, #f761a1 10%, #8c1bab 100%);
}
@mixin grad--electric-violet {
  background-image: linear-gradient(135deg, #43cbff 10%, #9708cc 100%);
}
@mixin grad--aquamarine {
  background-image: linear-gradient(135deg, #5efce8 10%, #736efe 100%);
}
@mixin grad--sunglo {
  background-image: linear-gradient(135deg, #fad7a1 10%, #e96d71 100%);
}
@mixin grad--dodger-blue {
  background-image: linear-gradient(135deg, #ffd26f 10%, #3677ff 100%);
}
@mixin grad--rose {
  background-image: linear-gradient(135deg, #a0fe65 10%, #fa016d 100%);
}
@mixin grad--arapawa {
  background-image: linear-gradient(135deg, #ffdb01 10%, #0e197d 100%);
}
@mixin grad--tia-maria {
  background-image: linear-gradient(135deg, #fec163 10%, #de4313 100%);
}
@mixin grad--midnight-blue {
  background-image: linear-gradient(135deg, #92ffc0 10%, #002661 100%);
}
@mixin grad--purple-heart {
  background-image: linear-gradient(135deg, #eead92 10%, #6018dc 100%);
}
@mixin grad--orchid {
  background-image: linear-gradient(135deg, #f6ceec 10%, #d939cd 100%);
}
@mixin grad--ultramarine {
  background-image: linear-gradient(135deg, #52e5e7 10%, #130cb7 100%);
}
@mixin grad--fuchsia-blue {
  background-image: linear-gradient(135deg, #f1ca74 10%, #a64db6 100%);
}
@mixin grad--persian-blue {
  background-image: linear-gradient(135deg, #e8d07a 10%, #5312d6 100%);
}
@mixin grad--ripe-lemon {
  background-image: linear-gradient(135deg, #eece13 10%, #b210ff 100%);
}
@mixin grad--tory-blue {
  background-image: linear-gradient(135deg, #79f1a4 10%, #0e5cad 100%);
}
@mixin grad--red {
  background-image: linear-gradient(135deg, #fdd819 10%, #e80505 100%);
}
@mixin grad--buttermilk {
  background-image: linear-gradient(135deg, #fff3b0 10%, #ca26ff 100%);
}
@mixin grad--affair {
  background-image: linear-gradient(135deg, #fff5c3 10%, #9452a5 100%);
}
@mixin grad--violet {
  background-image: linear-gradient(135deg, #f05f57 10%, #360940 100%);
}
@mixin grad--bright-turquoise {
  background-image: linear-gradient(135deg, #2afadf 10%, #4c83ff 100%);
}
@mixin grad--persian-pink {
  background-image: linear-gradient(135deg, #fff886 10%, #f072b6 100%);
}
@mixin grad--torea-bay {
  background-image: linear-gradient(135deg, #97abff 10%, #123597 100%);
}
@mixin grad--fuchsia-pink {
  background-image: linear-gradient(135deg, #f5cbff 10%, #c346c2 100%);
}
@mixin grad--harlequin {
  background-image: linear-gradient(135deg, #fff720 10%, #3cd500 100%);
}
@mixin grad--hot-pink {
  background-image: linear-gradient(135deg, #ff6fd8 10%, #3813c2 100%);
}
@mixin grad--lavander-magenta {
  background-image: linear-gradient(135deg, #ee9ae5 10%, #5961f9 100%);
}
@mixin grad--brink-pink {
  background-image: linear-gradient(135deg, #ffd3a5 10%, #fd6585 100%);
}
@mixin grad--aero-blue {
  background-image: linear-gradient(135deg, #c2ffd8 10%, #465efb 100%);
}
@mixin grad--egyptian-blue {
  background-image: linear-gradient(135deg, #fd6585 10%, #0d25b9 100%);
}
@mixin grad--supernova {
  background-image: linear-gradient(135deg, #fd6e6a 10%, #ffc600 100%);
}
@mixin grad--matisse {
  background-image: linear-gradient(135deg, #65fdf0 10%, #1d6fa3 100%);
}
@mixin grad--blue {
  background-image: linear-gradient(135deg, #6b73ff 10%, #000dff 100%);
}
@mixin grad--bossanova {
  background-image: linear-gradient(135deg, #ff7af5 10%, #513162 100%);
}
@mixin grad--malibu {
  background-image: linear-gradient(135deg, #f0ff00 10%, #58cffb 100%);
}
@mixin grad--crusta {
  background-image: linear-gradient(135deg, #ffe985 10%, #fa742b 100%);
}
@mixin grad--sundown {
  background-image: linear-gradient(135deg, #ffa6b7 10%, #1e2ad2 100%);
}
@mixin grad--hibiscus {
  background-image: linear-gradient(135deg, #ffaa85 10%, #b3315f 100%);
}
@mixin grad--royal-blue {
  background-image: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
}
@mixin grad--blush {
  background-image: linear-gradient(135deg, #ff9d6c 10%, #bb4e75 100%);
}
@mixin grad--pink-flamingo {
  background-image: linear-gradient(135deg, #f6d242 10%, #ff52e5 100%);
}
@mixin grad--aqua {
  background-image: linear-gradient(135deg, #69ff97 10%, #00e4ff 100%);
}
@mixin grad--lavender {
  background-image: linear-gradient(135deg, #3b2667 10%, #bc78ec 100%);
}
@mixin grad--lima {
  background-image: linear-gradient(135deg, #70f570 10%, #49c628 100%);
}
@mixin grad--cyan {
  background-image: linear-gradient(135deg, #3c8ce7 10%, #00eaff 100%);
}
@mixin grad--mauve {
  background-image: linear-gradient(135deg, #fab2ff 10%, #1904e5 100%);
}
@mixin grad--brilliant-rose {
  background-image: linear-gradient(135deg, #81ffef 10%, #f067b4 100%);
}
@mixin grad--yellow {
  background-image: linear-gradient(135deg, #ffa8a8 10%, #fcff00 100%);
}
@mixin grad--mariner {
  background-image: linear-gradient(135deg, #ffcf71 10%, #2376dd 100%);
}
@mixin grad--medium-red-violet {
  background-image: linear-gradient(135deg, #ff96f9 10%, #c32bac 100%);
}
