// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
) !default;

$blue:    #007bff !default;
$navy:    #001f3f !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffdc00 !default;
$green:   #28a745 !default;
$lime:    #01ff70 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: (
  'blue':      $blue,
  'navy':      $navy,
  'indigo':    $indigo,
  'purple':    $purple,
  'pink':      $pink,
  'red':       $red,
  'orange':    $orange,
  'yellow':    $yellow,
  'green':     $green,
  'lime':      $lime,
  'teal':      $teal,
  'cyan':      $cyan,
  'white':     $white,
  'gray':      $gray-600,
  'gray-dark': $gray-800
) !default;

$theme-colors: (
  primary:   $blue,
  secondary: $orange,
  success:   $green,
  info:      $cyan,
  warning:   $yellow,
  danger:    $red,
  light:     $gray-100,
  dark:      $gray-900
) !default;

// $themeColors: 'primary', 'secondary', 'info', 'success', 'warning', 'danger', 'light', 'dark';

//
// Typography
//
$font-stack-system:    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
                       "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$font-stack-helvetica: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-stack-georgia:   "Georgia", "Times", "Times New Roman", serif;
$font-stack-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-stack-base:      $font-stack-system;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/src/' !default;
