// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

// which one is the best method?
// text-color mixin
// or
// dynamic-text-color function


.btn {
  font-size: 1rem;
  padding: $space-s $space-m;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  line-height: 1.5;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  -webkit-appearance: none;
  cursor: pointer;
  border: none;

  &-s {
    font-size: .75rem;
  }

  &-l {
    font-size: 1.25rem;
  }

  &-xl {
    font-size: 1.5rem;
  }

}

@each $name, $value in $theme-colors {
  .btn--#{$name} {
    background: $value;
    @include text-color($value);

    @include on-event {
      background: darken($value, 10%);
      @include text-color($value);

      text-decoration: none;
      outline: 0;
    }
  }

  .btn--outline-#{$name} {
    background: none;
    border-color: $value;
    border-style: solid;
    border-width: 1px;

    color: $black;

    @include on-event {
      background: $value;
      @include text-color($value);
      border-color: darken($value, 15%);
    }
  }
}
